<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LegendWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/contact.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet" />
</head>
<body>
    <header id="header" class="bg">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="home-name" asp-controller="Home" asp-action="Index">Ayobammy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Contact" asp-action="Details">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header><!-- End Header -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer id="footer">
        <div class="container">
            <h3>Ayobami Fadeni</h3>
            <p>A passionate web developer, dedicated to creating scalable software solutions</p>
            <div class="social-links">
                <a href="https://twitter.com/ayobami_fadeni" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/psalmuherl.phardeynee" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ii.am.legend/" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ayobami-fadeni/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Ayobami</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
